* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open-Sans";
    src: url(./fonts/static/OpenSans-Regular.ttf);
}


body {
    background-color: #EFF0F0;
    font-family: Open-Sans;
}

.header-bg {
    background-color: #43281C;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 40px;
    height: 40px;
}

main {
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: Open-Sans;
    display: flex;
    align-items: center;
    letter-spacing: 0.25ch;
}

.header-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}



.card {
    background-color: #EEE1D5;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.input-field {
    border: 1px solid #865528;
    border-radius: 50px;
    padding: 0.75rem 1rem;
    background-color: #EEE1D5;
    color: #5C3D2E;
    width: 100%;
}

.input-field:focus {
    border: transparent;
    outline: 2px solid #a65a33;
}

.input-field::placeholder {
    color: #A09489;
}

.label-text {
    color: #5C3D2E;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-title {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 700;
    margin-block: 1rem;
    color: #5C3D2E;
    letter-spacing: 0.25ch;
}



.item-list-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.item-row {
    border-bottom: 1px solid #E0D9D0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}


.item-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: #5C3D2E;
}

.item-options {
    font-size: 0.75rem;
    color: #a98d74;
    margin-block: 10px;
}

.item-price {
    font-size: 0.875rem;
    font-weight: 600;
    color: #5C3D2E;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;
}

.input-group {
    position: relative;
}

.floating-lable {
    position: absolute;
    top: -0.25rem;
    left: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: #EEE1D5;
    font-size: 0.75rem;
    color: #865528;
}

.ccv-input {
    width: 50%;
}


.summary-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    color: #5C3D2E;
}

.summary-row {
    display: flex;
    justify-content: space-between;
}


.total-row .summary-text,
.total-row .summary-price {

    font-size: 1.125rem;
}


.totalWord-and-price {
    font-weight: 700;
}

button {
    background-color: #DEB993;
    color: black;
    padding: 1rem 2rem;
    border-radius: 50px;
    transition: background-color 0.5s ease-in-out;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-block: .625rem;

}

button:hover {
    background-color: #a7866e;
}

@media (min-width: 767.98px) {


    .main-content-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }


    form {
        margin-top: unset;
    }

    .summary-details {
        width: 50%;
    }



}

@media (min-width: 1023.98px) {


    button {
        width: 50%;
    }


    .summary-details {
        width: 50%;
    }

}

